/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ConsumerLoanDisbursementWithId
import io.swagger.client.model.ConsumerLoanDisbursementWithoutCommonAndId
import io.swagger.client.model.ConsumerLoanPaymentWithoutCommonAndId
import io.swagger.client.model.ConsumerLoanPaymentsWithId
import io.swagger.client.model.ConsumerLoanWithdrawalWithId
import io.swagger.client.model.ConsumerLoanWithdrawalWithoutCommonAndId
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ExecuteApi {

  /**
   * Create a new consumer loan disbursement execution
   * 
   * Expected answers:
   *   code 201 : ConsumerLoanDisbursementWithId (Successfully created a new consumer loan disbursement execution record)
   * 
   * @param crReferenceId Product Instance Reference (loan account number)
   * @param body 
   */
  def executeConsumerLoanFulfillmentArrangementDisbursementCreate(crReferenceId: String, body: Option[ConsumerLoanDisbursementWithoutCommonAndId] = None): ApiRequest[ConsumerLoanDisbursementWithId] =
    ApiRequest[ConsumerLoanDisbursementWithId](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/{cr-reference-id}/disbursements/execution", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withSuccessResponse[ConsumerLoanDisbursementWithId](201)
        /**
   * Updated consumer loan disbursement execution
   * 
   * Expected answers:
   *   code 200 : ConsumerLoanDisbursementWithId (Successfully Updated consumer loan disbursement execution)
   * 
   * @param crReferenceId Product Instance Reference (loan account number)
   * @param bqReferenceId Disbursement Order Reference
   * @param body 
   */
  def executeConsumerLoanFulfillmentArrangementDisbursementUpdate(crReferenceId: String, bqReferenceId: String, body: Option[ConsumerLoanDisbursementWithoutCommonAndId] = None): ApiRequest[ConsumerLoanDisbursementWithId] =
    ApiRequest[ConsumerLoanDisbursementWithId](ApiMethods.PUT, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/{cr-reference-id}/disbursements/{bq-reference-id}/execution", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withPathParam("bq-reference-id", bqReferenceId)
      .withSuccessResponse[ConsumerLoanDisbursementWithId](200)
        /**
   * Create a Consumer Loan Payment Execution record
   * 
   * Expected answers:
   *   code 201 : ConsumerLoanPaymentsWithId (Successfully Created a Consumer Loan Payment Execution record)
   * 
   * @param crReferenceId Product Instance Reference (loan account number)
   * @param body 
   */
  def executeConsumerLoanFulfillmentArrangementRepaymentCreate(crReferenceId: String, body: Option[ConsumerLoanPaymentWithoutCommonAndId] = None): ApiRequest[ConsumerLoanPaymentsWithId] =
    ApiRequest[ConsumerLoanPaymentsWithId](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/{cr-reference-id}/payments/execution", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withSuccessResponse[ConsumerLoanPaymentsWithId](201)
        /**
   * Update a Consumer Loan Payment Execution record
   * 
   * Expected answers:
   *   code 200 : ConsumerLoanPaymentsWithId (Successfully Updated Consumer Loan Payment Execution record)
   * 
   * @param crReferenceId Product Instance Reference (loan account number)
   * @param bqReferenceId Payment Transaction Reference
   * @param body 
   */
  def executeConsumerLoanFulfillmentArrangementRepaymentUpdate(crReferenceId: String, bqReferenceId: String, body: Option[ConsumerLoanPaymentWithoutCommonAndId] = None): ApiRequest[ConsumerLoanPaymentsWithId] =
    ApiRequest[ConsumerLoanPaymentsWithId](ApiMethods.PUT, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/{cr-reference-id}/payments/{bq-reference-id}/execution", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withPathParam("bq-reference-id", bqReferenceId)
      .withSuccessResponse[ConsumerLoanPaymentsWithId](200)
        /**
   * Create a New Consumer Loan Withdrawl Execution Record
   * 
   * Expected answers:
   *   code 201 : ConsumerLoanWithdrawalWithId (Successfully Created Consumer Loan Withdrawl Execution Record)
   * 
   * @param crReferenceId Product Instance Reference (loan account number)
   * @param body 
   */
  def executeConsumerLoanFulfillmentArrangementWithdrawalCreate(crReferenceId: String, body: Option[ConsumerLoanWithdrawalWithoutCommonAndId] = None): ApiRequest[ConsumerLoanWithdrawalWithId] =
    ApiRequest[ConsumerLoanWithdrawalWithId](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/{cr-reference-id}/withdrawals/execution", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withSuccessResponse[ConsumerLoanWithdrawalWithId](201)
        /**
   * Update a Consumer Loan Withdrawl Execution Record
   * 
   * Expected answers:
   *   code 200 : ConsumerLoanWithdrawalWithId (Successfully Updated Consumer Loan Withdrawl Execution Record)
   * 
   * @param crReferenceId Product Instance Reference (loan account number)
   * @param bqReferenceId Withdrawal Instruction Reference
   * @param body 
   */
  def executeConsumerLoanFulfillmentArrangementWithdrawalUpdate(crReferenceId: String, bqReferenceId: String, body: Option[ConsumerLoanWithdrawalWithoutCommonAndId] = None): ApiRequest[ConsumerLoanWithdrawalWithId] =
    ApiRequest[ConsumerLoanWithdrawalWithId](ApiMethods.PUT, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/{cr-reference-id}/withdrawals/{bq-reference-id}/execution", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withPathParam("bq-reference-id", bqReferenceId)
      .withSuccessResponse[ConsumerLoanWithdrawalWithId](200)
      

}

