/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ConsumerLoanBase
import io.swagger.client.model.ConsumerLoanWithIdAndStatus
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object InitiateApi {

  /**
   * Initiate - Set-up a new consumer loan
   * 
   * Expected answers:
   *   code 201 : ConsumerLoanWithIdAndStatus (Initiated setup of consumer loan)
   * 
   * @param body 
   */
  def initiateConsumerLoanFulfillmentArrangement(body: Option[ConsumerLoanBase] = None): ApiRequest[ConsumerLoanWithIdAndStatus] =
    ApiRequest[ConsumerLoanWithIdAndStatus](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/initiation", "application/json")
      .withBody(body)
      .withSuccessResponse[ConsumerLoanWithIdAndStatus](201)
      

}

