/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.CurrentAccountBase
import io.swagger.client.model.CurrentAccountBaseWithIdAndStatus
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object InitiateApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 201 : CurrentAccountBaseWithIdAndStatus (A new current account fulfillment arrangement is created)
   * 
   * @param body Initiate control record request payload
   */
  def initiateCurrentAccountFulfillmentArrangement(body: CurrentAccountBase): ApiRequest[CurrentAccountBaseWithIdAndStatus] =
    ApiRequest[CurrentAccountBaseWithIdAndStatus](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/current-account/3.0.1", "/current-account/current-account-fulfillment-arrangement/initiation", "application/json")
      .withBody(body)
      .withSuccessResponse[CurrentAccountBaseWithIdAndStatus](201)
      

}

