/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.CurrentAccountRecordRequest
import io.swagger.client.model.CurrentAccountRecordResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object RecordApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 201 : CurrentAccountRecordResponse (A new Record is created)
   * 
   * @param crReferenceId productInstanceReference
   * @param body Record control record request payload
   */
  def recordCurrentAccountFulfillmentArrangement(crReferenceId: String, body: CurrentAccountRecordRequest): ApiRequest[CurrentAccountRecordResponse] =
    ApiRequest[CurrentAccountRecordResponse](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/current-account/3.0.1", "/current-account/current-account-fulfillment-arrangement/{cr-reference-id}/recording", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withSuccessResponse[CurrentAccountRecordResponse](201)
      

}

