/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.CustomerReferenceDataRecordRequest
import io.swagger.client.model.CustomerReferenceDataRecordResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object RecordApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 201 : CustomerReferenceDataRecordResponse (Successfuly recorded usage against customer directory entry.)
   * 
   * @param crReferenceId Customer Reference Data Directory Entry Reference
   * @param body Record control record request payload
   */
  def recordCustomerDataDirectory(crReferenceId: String, body: CustomerReferenceDataRecordRequest): ApiRequest[CustomerReferenceDataRecordResponse] =
    ApiRequest[CustomerReferenceDataRecordResponse](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/sd-customer-reference-data-management/4.0.0", "/customer-reference-data-management/customer-reference-data-directory/{cr-reference-id}/recording", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withSuccessResponse[CustomerReferenceDataRecordResponse](201)
      

}

