/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ConsumerLoanRestructuringWithId
import io.swagger.client.model.ConsumerLoanRestructuringWithoutCommonAndId
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object RequestApi {

  /**
   * Create a new restructuring request record
   * 
   * Expected answers:
   *   code 201 : ConsumerLoanRestructuringWithId (Successfuly created consumer loan restructuring request)
   * 
   * @param crReferenceId Product Instance Reference (loan account number)
   * @param body 
   */
  def requestConsumerLoanFulfillmentArrangementRestructuringCreate(crReferenceId: String, body: Option[ConsumerLoanRestructuringWithoutCommonAndId] = None): ApiRequest[ConsumerLoanRestructuringWithId] =
    ApiRequest[ConsumerLoanRestructuringWithId](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/{cr-reference-id}/restructurings/requisition", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withSuccessResponse[ConsumerLoanRestructuringWithId](201)
        /**
   * Update a restructuring request record
   * 
   * Expected answers:
   *   code 200 : ConsumerLoanRestructuringWithId (Successfully updated consumer loan restructuring request)
   * 
   * @param crReferenceId Product Instance Reference (loan account number)
   * @param bqReferenceId Restructuring Task Reference
   * @param body 
   */
  def requestConsumerLoanFulfillmentArrangementRestructuringUpdate(crReferenceId: String, bqReferenceId: String, body: Option[ConsumerLoanRestructuringWithoutCommonAndId] = None): ApiRequest[ConsumerLoanRestructuringWithId] =
    ApiRequest[ConsumerLoanRestructuringWithId](ApiMethods.PUT, "https://virtserver.swaggerhub.com/BIAN/sd-consumer-loan/3.0.1", "/consumer-loan/consumer-loan-fulfillment-arrangement/{cr-reference-id}/restructurings/{bq-reference-id}/requisition", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withPathParam("bq-reference-id", bqReferenceId)
      .withSuccessResponse[ConsumerLoanRestructuringWithId](200)
      

}

