/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.ReferenceBase
import io.swagger.client.model.ReferenceBaseWithIdAndRoot
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object RequestApi {

  /**
   * Create a new Customer Reference Data Directory
   * 
   * Expected answers:
   *   code 201 : ReferenceBaseWithIdAndRoot (Successfully created customer directory entry.)
   * 
   * @param body Request customer reference request payload
   */
  def requestCustomerReferenceDataDirectoryCreate(body: ReferenceBase): ApiRequest[ReferenceBaseWithIdAndRoot] =
    ApiRequest[ReferenceBaseWithIdAndRoot](ApiMethods.POST, "https://virtserver.swaggerhub.com/BIAN/sd-customer-reference-data-management/4.0.0", "/customer-reference-data-management/customer-reference-data-directory/requisition", "application/json")
      .withBody(body)
      .withSuccessResponse[ReferenceBaseWithIdAndRoot](201)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : ReferenceBaseWithIdAndRoot (Successfully requested a refresh of an existing customer directory entry.)
   * 
   * @param crReferenceId Customer Reference Data Directory Entry Reference
   * @param body Request customer reference request payload
   */
  def requestCustomerReferenceDataDirectoryUpdate(crReferenceId: String, body: ReferenceBase): ApiRequest[ReferenceBaseWithIdAndRoot] =
    ApiRequest[ReferenceBaseWithIdAndRoot](ApiMethods.PUT, "https://virtserver.swaggerhub.com/BIAN/sd-customer-reference-data-management/4.0.0", "/customer-reference-data-management/customer-reference-data-directory/{cr-reference-id}/requisition", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withSuccessResponse[ReferenceBaseWithIdAndRoot](200)
      

}

