/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.CurrentAccountBaseWithIdAndStatus
import io.swagger.client.model.CurrentAccountWithStatus
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UpdateApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : CurrentAccountBaseWithIdAndStatus (successful)
   * 
   * @param crReferenceId Product Instance Reference
   * @param body Update control record request payload
   */
  def updateCurrentAccountFulfillmentArrangement(crReferenceId: String, body: CurrentAccountWithStatus): ApiRequest[CurrentAccountBaseWithIdAndStatus] =
    ApiRequest[CurrentAccountBaseWithIdAndStatus](ApiMethods.PUT, "https://virtserver.swaggerhub.com/BIAN/current-account/3.0.1", "/current-account/current-account-fulfillment-arrangement/{cr-reference-id}/updation", "application/json")
      .withBody(body)
      .withPathParam("cr-reference-id", crReferenceId)
      .withSuccessResponse[CurrentAccountBaseWithIdAndStatus](200)
      

}

